<div class="card-list-container">
  <div class="header">
    <h2>Gestion des Cartes</h2>
    <button type="button" (click)="addNewCard()" class="add-card-button">
      <span class="icon">+</span>
      <span class="text">Nouvelle Carte</span>
    </button>
  </div>

  <app-data-table
    [config]="tableConfig"
    [data]="cards"
    [loading]="loading"
    (actionClick)="onActionClick($event)"
    (rowClick)="onRowClick($event)"
    (selectionChange)="onSelectionChange($event)"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)">
  </app-data-table>
</div>
