<div class="condition-list-container">
  <div class="header">
    <h2>Gestion des Conditions</h2>
    <button type="button" (click)="addNewCondition()" class="add-condition-button">
      <span class="icon">+</span>
      <span class="text">Nouvelle Condition</span>
    </button>
  </div>

  <app-data-table
    [config]="tableConfig"
    [data]="conditions"
    [loading]="loading"
    (actionClick)="onActionClick($event)"
    (rowClick)="onRowClick($event)"
    (selectionChange)="onSelectionChange($event)"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)">
    
    <ng-template #expandedRow let-row>
      <app-parameter-display 
        [ownerId]="row.id" 
        [ownerType]="'condition'">
      </app-parameter-display>
    </ng-template>
  </app-data-table>
</div>
